


body, html {
    margin: 0;
    padding: 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto; /* Adicionado */
    max-width: 100%;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover; /* Adicionado */
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    max-width: 400px; /* Ajuste conforme necessário */
    border-radius: 10px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;

}




button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/* Estilos padrão para telas grandes */
body {
    font-size: 16px;
}

/* Media query para telas menores, como tablets */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Media query para telas pequenas, como dispositivos móveis */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
